@use "./productCard.scss";
@use "./categoryNavigation.scss";

body {
    margin: 0 auto;
    padding: 0;
}

#productList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

}